/* COMMON*/

@import 'normalize.css';

*{
    margin: 0;
    padding: 0;
}
.bttn{
    color: #000000;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
    border: none;
    line-height: normal;
    cursor: pointer;
    text-transform: uppercase;
}
.bttn:hover{
    box-shadow: 1px 2px 3px #666;
    background-color: inherit;
    color: #000;
}
.bttn:active{
    background-color: inherit;
    color: #000;
}
.bttn.active{
    color: #000000;
    background: rgba(255, 255, 255, 0.5);
    opacity: 1;
}
.bttn.active:hover{
    box-shadow: 1px 2px 3px #666;
}

input.bttn{
    border: none;
    padding: 16px 32px 17px;
}
