@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?96245767');
    src: url('../font/fontello.eot?96245767#iefix') format('embedded-opentype'), url('../font/fontello.woff?96245767') format('woff'), url('../font/fontello.ttf?96245767') format('truetype'), url('../font/fontello.svg?96245767#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

.custom-icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-users:before {
    content: '\e800';
}

.icon-mail:before {
    content: '\e801';
}

.icon-cog:before {
    content: '\e802';
}

.icon-logout:before {
    content: '\e803';
}

.icon-home:before {
    content: '\e804';
}

.icon-ok:before {
    content: '\e805';
}

.icon-cancel:before {
    content: '\e806';
}

.icon-paper-plane:before {
    content: '\e807';
}

.icon-search:before {
    content: '\e808';
}

input[type="file"]{
    width: auto;
    display: inline-block;
}

.dashboard-bttn{
    float: right;
}

.heading h1{
    margin: 0;
    display: inline-block;
}

.profile-legend,
.profile-legend label{
    color: ivory;
}

.profile-photo{
    width: 100%;
    height: 320px;
    margin: 0;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.profile-txtrea{
    margin-bottom: 63px;
}

article.profile-info-wrapper{
    padding: 15px;
    margin-bottom: 30px;
    background-color: #fff;
}
.profile-list{
    list-style: none;
    font-size: 1.5rem;
}
.profile-list > li{
    padding: 10px;
    display: inline-block;
}

.main-profile-picture {
    display: block;
    width: 400px;
    height: 500px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.yes-or-no-container {
    position: absolute;
    display: block;
    bottom: 0;
    margin-top: 100%;
    margin-bottom: 0;
    height: 55px;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

    .yes-or-no-container .yes-or-no {
        text-align: center;
        width: 49.7%;
        height: 55px;
        display: inline-block;
        color: #ffffff;
        font-size: 35px;
        vertical-align: middle;
        background-color: rgba(51,51,51,.7);
    }

        .yes-or-no-container .yes-or-no:hover {
            background-color: rgba(0,140,186,.7);
        }

        .yes-or-no-container .yes-or-no.yes {
            right: 0;
            position: absolute;
        }

        .yes-or-no-container .yes-or-no.no {
            left: 0;
            position: absolute;
        }

.description {
    height: 70px;
    text-align: left;
    padding: 5px 15px;
    background: rgba(51,51,51,.7);
    color: #fff;
    font-size: 1.2em;
    /*margin-top: -150px;*/
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    cursor: pointer;
}

    .description:hover {
        margin-top: 0px;
    }

ul.hobby {
    list-style: none;
    margin-bottom: 0px;
}

    ul.hobby li {
        list-style: none;
    }

        ul.hobby li:before {
            content: "-";
            margin-right: 3px;
        }

#menu-item:hover {
    background-color: rgba(0,140,186,.7) !important;
}

#menu {
    background: rgba(51, 51, 51, 0.7) none repeat scroll 0% 0%;
}

#chat {
    position: relative;
    margin: 0px auto;
    padding: 0px;
    width: 100%;
    height: 400px;
    /*overflow: hidden;*/
    overflow-y:scroll !important;
    margin-bottom: 10px;
}

.chat-btn {
    background: rgba(51, 51, 51, 0.7) none repeat scroll 0% 0%;
    width: auto;
    height: 66px;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 7px;
    font-size: 30px;
    color: #ffffff;
    position: relative;
}

.chat-btn > i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chat-btn:hover {
    background-color: rgba(0,140,186,.7);
    color: #ffffff;
}

.ps-container{
   background-color: #fff;
}

.own-row {
    margin-top: 5px;
    margin-bottom: 10px;
}

.friend-chat {
    background-color: rgba(0,140,186,.7);
    color: #ffffff;
}

.head-chat {
    display: block;
    position: relative;
    height: 76px;
    width: 76px;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2px;
    margin-top: 4px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

    .head-chat:hover {
        height: 96px;
        width: 96px;
    }

    .head-chat.bigger-head {
        height: 106px;
        width: 106px;
    }

        .head-chat.bigger-head:hover {
            height: 126px;
            width: 126px;
        }

.name-chat {
    display: inline-block;
    color: #7E7E7E;
    font-size: 11px;
    height: 15px;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

p.content-chat {
    margin-top: 15px;
}

.date-chat {
    display: inline-block;
    color: #7E7E7E;
    font-size: 11px;
    height: 15px;
    width: 100%;
    text-align: right;
    padding-right: 15px;
}

.couple {
    margin-bottom: 10px;
    margin-top: 10px;
}

.couple-info {
    padding: 10px;
    cursor: pointer;
}

    .couple-info > div {
        margin-top: 4px;
    }

.couple-date {
    display: inline-block;
    color: #7E7E7E;
    font-size: 11px;
    height: 15px;
    width: 100%;
}

.couple-name {
    font-weight: bold;
}

.couple-loc {
    font-size: 13px;
}

.loader {
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
}

.load {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.load-gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
}