@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?6v2ct');
    src:    url('fonts/icomoon.eot?6v2ct#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?6v2ct') format('truetype'),
        url('fonts/icomoon.woff?6v2ct') format('woff'),
        url('fonts/icomoon.svg?6v2ct#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="iicon-"], [class*=" iicon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 2rem;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iicon-pencil:before {
    content: "\e900";
}
.iicon-lifebuoy:before {
    content: "\e600";
}
.iicon-location:before {
    content: "\e902";
}
.iicon-stopwatch:before {
    content: "\e903";
}
.iicon-user:before {
    content: "\e904";
}
.iicon-man-woman:before {
    content: "\e905";
}
.iicon-plus:before {
    content: "\e901";
}

