@import "icomoon.css";

.container{
    padding: 30px 0 30px 0;
}
form.settings-wrapper p{
    height: 3rem;
    width: 100%;
}
form.settings-wrapper label,
form.settings-wrapper input
{
    display: inline-block;
    float: left;
}
form.settings-wrapper label{
    width: 120px;
    height: 100%;
    line-height: 4.5rem;
    text-transform: uppercase;
}
form.settings-wrapper input{
    width: calc(100% - 120px);
    height: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: #9b9b9b;
    box-shadow: none;
    background: none;
}
form.settings-wrapper input[type="submit"]{
    background-color: rgba(112, 112, 112, 1);
    margin-top: 20px;
    -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    -ms-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}
form.settings-wrapper input[type="submit"]:hover{
    background-color: rgba(112, 112, 112, .3);
}

.photo-wrapper{
    width: 100%;
    min-height: 400px;
    max-height: 600px;
    height: 50%;
    position: relative;
}
.photo-wrapper:hover > div{
    display: block;
}
.photo-wrapper > div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*height: 100%; */
    display: none;
    color: white;
    background-color: rgba(155, 155, 155, 0.7);
    z-index: 2;
}
.photo-wrapper > figure{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: url(../img/1.jpg) no-repeat center center;
    background-size: cover;
    -webkit-transform:translateZ(0);;
    -moz-transform:translateZ(0);;
    -o-transform:translateZ(0);;
    transform:translateZ(0);;
}
.interests-wrapper{
    margin-top: 50px;
    border-top: 3px rgb(112, 112, 112) solid;
    border-radius: 3px;
}
.interests-wrapper > h1{
    font-size: 2rem;
    background: #F8F8F8;
    color: rgb(112, 112, 112);
    margin: 0;
    height: 4rem;
    line-height: 4rem;
    text-indent: 1.1rem;
  }
.list-interests{
    list-style: none;
}
.list-interests > li{
    display: inline;
}


