@import "icomoon.css";


/* PAGES */

/*1. Welcome Page */
body{
	background: #55718E;
}
.heading{
    width: 100%;
    margin: 0;
    color: #ffffff;
    font-size: 1.7rem;
    background: -moz-linear-gradient(45deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
/* Trzeba nadpisac, bo foundation ustawilo margin sekcji*/
section.container{
    margin-top: -10px;
}
.container{
    height: 100%;
    padding-top: 50px;
}
/*.container > div{*/
    /*height: 100%;*/
    /*display: table;*/
/*}*/

.container > .myDiv {
	height: 100%;
	display: inline !important;
}
.form-packed{
    width: 100%;
}
.container article{
    padding: 0;
    background-color: rgba(255, 255, 255, 0.9);
    /*border: 2px solid rgba(255, 255, 255, 0.9);*/
    border-radius: 10px;
}
.container article > p{
    padding: 0.5em;
}
form{
    /*opacity: 0;*/
    -webkit-transition: opacity 1s ease-in-out, height 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out, height 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out, height 1s ease-in-out;
    transition: opacity 1s ease-in-out, height 1s ease-in-out;
}
form > fieldset{
    margin: 0;
    border: none;
    background: rgba(255, 255, 255, 0.5);
}
form label{
    visibility: hidden;
}
.connect-bttn-form{
    width: 100%;
    height: 1em;
}
.connect-bttn-form > span{
    display: inline-block;
    float: left;
    width: 50%;
    height: 100%;
}
.connect-bttn-form > span{
    background: rgba(255, 255, 255, 0.5);
}
.connect-bttn-form.log > span:first-child{
    opacity: 0.5;
}
.connect-bttn-form.reg > span:last-child{
    opacity: 0.5;
}
.bttn-list{
    display: block;
    height: 5em;
    margin: 0;
    list-style: none;
}
.bttn-list > li{
    width: 50%;
    float: left;
    display: inline-block;
}
.bttn-list .bttn{
    width: 100%;
    margin: 0;
    display: block;
}
.form-register-set > div:not(:last-child){
    display: inline-block;
}
.birth-date > input{
    width: 28%;
    min-width: 56px;
    padding: 0;
    display: inline-block;
}
