﻿<div class="row couple">
    <div class="small-2 columns">
        <div class="head-chat bigger-head" style="background-image:url('img/1.jpg');"></div>
    </div>
    <div class="small-10 columns">
        <div class="couple-info">
            <div class="couple-name">Emma</div>
            <div class="couple-desc">Urodziłam się 10 lutego 1991 r. z nazwiskiem, które jest doskonale rozpoznawane w światku filmowym.</div>
            <div class="couple-loc">Odległość: 1 km</div>
            <div class="couple-date">Znajomość od: 01.03.2015 11:34</div>
        </div>
    </div>
</div>
<div class="row couple">
    <div class="small-2 columns">
        <div class="head-chat bigger-head" style="background-image:url('img/3.jpg');"></div>
    </div>
    <div class="small-10 columns">
        <div class="couple-info">
            <div class="couple-name">Stone</div>
            <div class="couple-desc">Urodziłam się 6 listopada 1988 r. w Scottsdale w Arizona, (USA). Moi rodzice to Jeff i Kristy Stone. Mam młodszego brata Spencera.</div>
            <div class="couple-loc">Odległość: 5 km</div>
            <div class="couple-date">Znajomość od: 01.05.2015 11:34</div>
        </div>
    </div>
</div>
<div class="row couple">
    <div class="small-2 columns">
        <div class="head-chat bigger-head" style="background-image:url('img/2.jpg');"></div>
    </div>
    <div class="small-10 columns">
        <div class="couple-info">
            <div class="couple-name">Robert</div>
            <div class="couple-desc"></div>
            <div class="couple-loc">Odległość: 1 km</div>
            <div class="couple-date">Znajomość od: 01.06.2015 11:34</div>
        </div>
    </div>
</div>
