<form id="formLog" method="post" action="">
    <fieldset>
        <p>
            <input id="formEmail" type="email" value="" placeholder="E-mail" title="E-mail" required>
        </p>
        <p>
            <input id="formPass" type="password" value="" placeholder="Hasło" title="Hasło" required>
        </p>
    </fieldset>
</form>
