<form id="formRegister" method="post" action="">
    <fieldset class="form-register-set">
        <section class="row">
            <div class="small-12 large-6 columns">
                <p>
                    <input id="name" type="text" value="" placeholder="Imię" title="Imię" required>
                </p>
                <p>
                    <input id="surname" type="text" value="" placeholder="Nazwisko" title="Nazwisko" required>
                </p>
                <p>
                    <input id="email" type="email" value="" placeholder="E-mail" title="E-mail" required>
                </p>
            </div>
            <div class="small-12 large-6 columns">
                <p>
                    <input id="pass" type="password" value="" placeholder="Hasło" title="Hasło" required>
                </p>
                <p>
                    <input id="passRpt" type="password" value="" placeholder="Powtórz hasło" title="Powtórz hasło" required>
                </p>
                <p class="birth-date">
                    <input id="year" type="number" value="" placeholder="YYYY" title="Rok urodzenia" required>
                    -
                    <input id="month" type="number" value="" placeholder="MM" title="Miesiąc urodzenia" required>
                    -
                    <input id="day" type="number" value="" placeholder="DD" title="Dzień urodzenia" required>
                </p>
            </div>
        </section>
        <section class="row">
            <div class="small-12 columns">
                <p>
                    <textarea id="interests" name="interests" cols="30" rows="4" title="Twoje zainteresowania" placeholder="Twoje zainteresowania"></textarea>
                </p>
            </div>
        </section>
    </fieldset>
</form>