﻿<!DOCTYPE html>
<html lang="en" ng-app="wzimder">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css">
    <link type="text/css" rel="stylesheet" href="css/common.css">
    <link type="text/css" rel="stylesheet" href="css/welcomePage.css">
    <link type="text/css" rel='stylesheet' href='css/perfect-scrollbar.min.css' />
	<link type="text/css" rel="stylesheet" href="css/css.css">
    <link href="css/angular-datepicker.css" rel="stylesheet" />

    <title>Wzimder</title>
</head>
<body ng-controller="application">
    <header class="heading">
        <a href="#dashboard"><img width="150" height="30" src="img/744x360.png"></a>
    </header>
    <div ng-show="isLoggedin()">    
		<div class="row">
			<div class="small-12 columns">
				<div id="menu" class="icon-bar five-up">
					<a id="menu-item" href="#/dashboard/" title="Strona Główna" class="item">
						<i class="custom-icon icon-home"></i>
					</a>
					<a id="menu-item" href="#/pairs/" title="Twoje Pary" class="item">
						<i class="custom-icon icon-users"></i>
					</a>
					<a id="menu-item" href="#/chat/" title="Chat" class="item">
						<i class="custom-icon icon-mail"></i>
					</a>
					<a id="menu-item" href="#/profile/" title="Profil" class="item">
						<i class="custom-icon icon-cog"></i>
					</a>
					<a id="menu-item" ng-click="logout()" title="Wyloguj" class="item">
						<i class="custom-icon icon-logout"></i>
					</a>
				</div>
			</div>
		</div>
    </div>
    <div class="row">
        <section class="small-12 columns container" ng-view></section>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src='js/perfect-scrollbar.jquery.min.js'></script>
    <script src='js/perfect-scrollbar.min.js'></script>
    <script type="text/javascript" src="js/js.js"></script>

    <script src="app/libs/angular.js"></script>
    <script src="app/libs/angular-route.js"></script>
    <script src="app/libs/ngStorage.min.js"></script>
    <script src="app/libs/angular-datepicker.js"></script>

    <!--app components-->
    <script src="app/app.js"></script>
    <script src="app/controllers/applicationCtrl.js"></script>
    <script src="app/controllers/loginCtrl.js"></script>
    <script src="app/controllers/profileCtrl.js"></script>
    <script src="app/services/authenticationService.js"></script>
    <script src="app/controllers/registerCtrl.js"></script>
    <script src="app/services/accountService.js"></script>
    <script src="app/services/requestInterceptor.js"></script>
    <script src="app/controllers/dashboardCtrl.js"></script>
    <script src="app/controllers/searchCtrl.js"></script>
    <script src="app/services/searchService.js"></script>
    <script src="app/controllers/pairsCtrl.js"></script>
    <script src="app/services/pairsService.js"></script>
	<script src="app/controllers/chatCtrl.js"></script>
    <script src="app/services/chatService.js"></script>
    <script src="app/directives/fileUpload.js"></script>
    <script src="app/directives/equals.js"></script>
    <script src="app/directives/validateMail.js"></script>
</body>
</html>