<div ng-controller="chat" class="myDiv">
		<div ng-if="pairs.length > 0" class="small-12 columns">
            <div id="couples">
                <div ng-repeat='pair in pairs'>
                    <div class="row couple">
                        <div class="small-2 columns">
                            <div class="head-chat bigger-head" ng-style="{{ getPhotoUrl(pair.Photo) }}"></div>
                        </div>
                        <div class="small-8 columns">
                            <div class="couple-info">
                                <div class="couple-name">{{ pair.FirstName }} {{ pair.LastName }}</div>
							    <div class="couple-loc">Wiek: {{ calculateAge(pair.Birthdate) }}</div>
                                <div class="couple-desc">Opis: {{ pair.Description }}</div>
                            </div>
                        </div>
					    <div class="small-2 columns">
						    <a id="menu-item" ng-href="#/chat/{{pair.Id}}/" style="color:#FFF" title="Wyślij wiadomość" class="item">
						        <i class="custom-icon icon-mail"></i>
					        </a>
					    </div>
                    </div>
                </div>				
            </div>
        </div>
		<div ng-if="pairs.length == 0" class="small-12 columns">
			<h2 style="color:ivory">Niestety nie masz z kim pisać</h2>
		</div>
</div>
