
<div class="myDiv">
        <div class="small-12 columns">
            <h4>Piszesz z {{friend.FirstName}} {{friend.LastName}}</h4>
             
<div ng-controller="chat" class="myDiv">
		<div class="row">
			<div class="small-12 columns">
				<div id="chat" class="ps-container">
					<div ng-if="messages.length > 0">
						<div ng-repeat="message in messages" ng-class="message.SenderId == null || message.SenderId != userId ? 'row own-row' : 'row own-row friend-chat'">
							<div class="small-2 columns">
								<div class="head-chat" ng-if="message.SenderId == userId" ng-style="{{ getPhotoUrl(friend.Photo) }}"></div>
								<div class="head-chat" ng-if="message.SenderId != userId" ng-style="{{ getPhotoUrl(currentUser.ProfilePhotoId) }}"></div>
								<div class="name-chat" ng-if="message.SenderId == userId">{{ friend.FirstName }}</div>
								<div class="name-chat" ng-if="message.SenderId != userId">{{ currentUser.FirstName }}</div>
							</div>
							<div class="small-10 columns">
								<p class="content-chat">
									{{ message.Text }}
								</p>
							</div>
						</div>
					</div>
					<div ng-if="messages.length == 0">
						<h4 class="text-center">Brak nowych wiadomości</h4>
					</div>

				</div>
			</div>
        </div>
		<div class="row">
			<div class="small-12 columns">
                <div class="row collapse">
                    <div class="small-10 columns">
                        <textarea id="ta_msg" rows="2" placeholder="Napisz coś.." ng-model="newMessage" ng-keypress="($event.which === 13)?sendMessage():0" autofocus></textarea>
                    </div>
                    <div class="small-2 columns">
                        <a ng-click="sendMessage()" title="Wyślij" class="chat-btn"><i class="custom-icon icon-paper-plane"></i></a>
                    </div>
                </div>
            </div>
		</div>
</div>
    
		</div>
</div>
