﻿<div ng-controller="dashboard" ng-cloak>
    <h2 style="color:ivory">Witaj w WZIMDER {{ userInfo.FirstName }} {{ userInfo.LastName }}!</h2>
    <hr />
    <!--<div class="row">-->
        <!--<div class="small-12 columns">-->
            <!--<h2 style="color:ivory">Szukaj nowych znajomych</h2>-->
        <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="small-12 large-8 large-centered columns">
            <h2 style="color:ivory">Szukaj nowych znajomych</h2>
            <fieldset>
                <legend style="color:ivory">Opcje wyszukiwana</legend>
                <label style="color:ivory" for="minAge">Minimalny wiek</label>
                <input type="number" id="minAge" ng-model="criteria.MinAge" />

                <label style="color:ivory" for="maxAge">Maksymalny wiek</label>            
                <input type="number" id="maxAge" ng-model="criteria.MaxAge"/>

                <label style="color:ivory" for="gender">Płeć</label>
                <select id="gender" ng-model="criteria.Gender" required>
                    <option selected disabled hidden value='-1'></option>
                    <option value="0" ng-selected="criteria.Gender == 0">Mężczyzna</option>
                    <option value="1" ng-selected="criteria.Gender == 1">Kobieta</option>                    
                </select>

                <label style="color:ivory" for="maxDist">Maksymalny dystans</label>
                <input type="number" id="maxDist" ng-model="criteria.MaxDistanceKM" />

                <button class="dashboard-bttn" ng-click="searchUsers()">Szukaj</button>
            </fieldset>
        </div>
    </div>
</div>