﻿
    <div class="small-12 small-centered large-6 columns" ng-controller="login">
        <div class="form-packed">
            <article>
                <p id="legend">{{message}}</p>
                <form id="formLog" method="post">
                    <fieldset>
                        <p>
                            <input id="formEmail" type="email" value="" placeholder="E-mail" title="E-mail" ng-model="credentials.email">
                        </p>
                        <p>
                            <input id="formPass" type="password" value="" placeholder="Hasło" title="Hasło" ng-model="credentials.password">
                        </p>
                    </fieldset>
                </form>
                <div id="navigationBtn">
                    <ul class="bttn-list">
                        <li>
                            <button id="btnReg" class="bttn" ng-click="register()">Zarejestruj</button>
                        </li>
                        <li>
                            <button id="btnLog" form="formLog" class="bttn active" ng-click="login()">Zaloguj</button>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </div>