<div ng-controller="pairs" class="myDiv">
    <div class="row">
        <div class="small-6 columns">
            <div ng-if="pairs.length > 0" style="overflow-y: scroll; overflow-x:hidden; height: 441px;">
                <h2 style="color:ivory">Twoje pary</h2>
                <div class="couple" ng-repeat="pair in pairs" style="color:ivory">
                    <div class="row">
                        <div class="small-3 columns">
                            <div class="head-chat bigger-head" ng-style="{{ getPhotoUrl(pair.Photo) }}"></div>  <!--ng-style="pair.Photo != 0 && {'background-image': 'url(img/1.jpg)'}" style="background-image:url('img/empty.png');"-->
                        </div>
                        <div class="small-6 columns couple-info">                        
                                <p class="couple name">{{pair.FirstName}} {{pair.LastName}}</p>
                                <p>{{ calculateAge(pair.Birthdate) }}</p>
                                <p ng-if="pair.Gender == 0">Mężczyzna</p>
                                <p ng-if="pair.Gender == 1">Kobieta</p>
                                <p>{{pair.Description}}</p>                            
                        </div>
                        <div class="small-3 columns">
                            <a id="menu-item" ng-href="#/chat/{{pair.Id}}/" style="color:#FFF" title="Wyślij wiadomość" class="item">
						        <i class="custom-icon icon-mail"></i>
					        </a>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
            <div ng-if="pairs.length == 0">
                <h2 style="color:ivory">Niestety nie masz par</h2>
            </div>
        </div>
        <div class="small-6 columns">
            <h2 style="color:ivory">Szukaj nowych znajomych</h2>

            <fieldset>
                <legend style="color:ivory">Opcje wyszuliwana</legend>
                <label style="color:ivory" for="minAge">Minimalny wiek</label>
                <input type="number" id="minAge" ng-model="criteria.MinAge" />

                <label style="color:ivory" for="maxAge">Maksymalny wiek</label>            
                <input type="number" id="maxAge" ng-model="criteria.MaxAge"/>

                <label style="color:ivory" for="gender">Płeć</label>
                <select id="gender" ng-model="criteria.Gender" required>
                    <option selected disabled hidden value='-1'></option>
                    <option value="0" ng-selected="criteria.Gender == 0">Mężczyzna</option>
                    <option value="1" ng-selected="criteria.Gender == 1">Kobieta</option>                    
                </select>

                <label style="color:ivory" for="maxDist">Maksymalny dystans</label>
                <input type="number" id="maxDist" ng-model="criteria.MaxDistanceKM" />

                <button ng-click="searchUsers()">Szukaj</button>
            </fieldset>
        </div>
    </div>
</div>