<div ng-controller="profile">
    <article class="profile-info-wrapper">
        <h1><span class="iicon-user"></span> {{userInfo.FirstName}} {{userInfo.LastName}}</h1>
        <ul class="profile-list">
            <li><span class="iicon-man-woman"></span> Płeć: <span ng-if="userInfo.Gender ==0">Mężczyzna</span><span ng-if="userInfo.Gender == 1">Kobieta</span></li>
            <li><span class="iicon-stopwatch"></span> Wiek: {{ calculateAge(userInfo.Birthdate) }}</li>
            <li><span class="iicon-pencil"></span> Opis: {{userInfo.Description}}</li>
            <!--<li>Profile Photo Id {{userInfo.ProfilePhotoId}}</li>-->
        </ul>
    </article>
    <div class="row">
        <!--<div class="small-12 large-6 columns">
            <fieldset>
                <legend style="color:ivory"><span class="iicon-location"></span> Change location</legend>
                <label style="color:ivory" for="location">Location</label>
                <input type="text" id="location" ng-model="location"/>
                <button ng-click="changeLocation(location)">Change location</button>
            </fieldset>
        </div>-->
        <div class="small-12 large-6 columns">
            <fieldset class="profile-legend">
                <legend><span class="iicon-lifebuoy"></span> Change password</legend>
                <label for="oldPassword">Old password</label>
                <input type="password" id="oldPassword" ng-model="password.OldPassword" />
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" ng-model="password.NewPassword"/>
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" ng-model="password.ConfirmPassword" />
                <button ng-click="changePassword(password)">Change password</button>
            </fieldset>
        </div>
        <div class="small-12 large-6 columns">
            <fieldset class="profile-legend">
                <legend><span class="iicon-pencil"></span> Change description</legend>
                <label for="description">Description</label>
                <textarea class="profile-txtrea" cols="50" rows="5" ng-model="userInfo.Description" style="color:black;"></textarea>
                <button ng-click="changeDescription(userInfo.Description)">Change description</button>
            </fieldset>
        </div>
        <div class="small-12 columns">
            <fieldset class="profile-legend">
                <legend>Change Photo</legend>
                <input type="file" file-upload="photo" class="button"/>
                <button ng-click="changePhoto()">OK</button>
                <figure class="profile-photo" style="{{ getPhotoUrlCss(userInfo.ProfilePhotoId) }}" id="photo-id"></figure>
                <!--<img ng-src="{{ getPhotoSrc(userInfo.ProfilePhotoId) }}" id="photo-id" />-->
            </fieldset>
        </div>
    </div>


</div>

