﻿<div class="small-12 small-centered large-6 columns">
    <div class="form-packed">
        <article>
            <p id="legend">{{message}}</p>
            <form name="registerForm" id="formLog" ng-controller="register" class="css-form" ng-submit="register()">
                <fieldset>
                    <p>
                        <input id="formName" type="text" value="" placeholder="Imię" title="Imię" ng-model="credentials.firstName" required />
                    <p style="color:crimson">{{validation.FirstName}}</p>
                    </p>
                    <p>
                        <input id="formSurname" type="text" value="" placeholder="Nazwisko" title="Nazwisko" ng-model="credentials.lastName" required />
                    <p style="color:crimson">{{validation.LastName}}</p>
                    </p>
                    <p>
                        <input id="formEmail" type="email" value="" placeholder="E-mail" title="E-mail" ng-model="credentials.email" required validate-mail />
                    <p style="color:crimson">{{validation.Email}}</p>
                    </p>
                    <p>
                        <input id="formPass" type="password" value="" placeholder="Hasło" title="Hasło" ng-model="credentials.password" equals="{{credentials.confirmPassword}}" required />
                    <p style="color:crimson">{{validation.Password}}</p>
                    </p>
                    <p>
                        <input id="formRepetedPass" type="password" value="" placeholder="Powtórz Hasło" title="Powtórz" ng-model="credentials.confirmPassword" equals="{{credentials.password}}" required />
                    </p>
                    <p>
                        <datepicker date-format="dd.MM.yyyy">
                            <input id="formRepetedPass" type="text" value="" placeholder="Data urodzenia" title="Data urodzenia" ng-model="credentials.birthDate" required />
                        </datepicker>
                    <p style="color:crimson">{{validation.birthDate}}</p>
                    </p>
                    <p>
                        <input id="female" type="radio" name="gender" ng-model="credentials.gender" value="1" />
                        Kobieta
                        <input id="male" type="radio" name="gender" ng-model="credentials.gender" value="0" />
                        Mężczyzna
                    </p>
                    <p>
                        <input id="formDescription" type="text" placeholder="Description" title="Description" ng-model="credentials.description" required />
                    <p style="color:crimson">{{validation.Description}}</p>
                    </p>
                </fieldset>
                <div id="navigationBtn">
                    <ul class="bttn-list">
                        <li>
                            <input id="btnReg" type="submit" class="bttn active" ng-disabled="registerForm.$invalid" value="Zarejestruj" title="Zarejestruj">
                        </li>
                        <li>
                            <button id="btnLog" class="bttn" type="button" ng-click="login()">Zaloguj</button>
                        </li>
                    </ul>
                </div>
            </form>
        </article>
    </div>
</div>
<style type="text/css">
    .css-form input.ng-invalid.ng-touched {
        background-color: #FA787E;
    }

    .css-form input.ng-valid.ng-touched {
        background-color: #78FA89;
    }
</style>
