<div ng-controller="search">
    <div class="small-12 columns" ng-if="users.length > 0">
        <div id="pair" class="main-profile-picture" ng-style="{'background-image': crrentUserPhoto}">
            <div class="description">
                <div>Wiek: {{ calculateAge(users[index].Birthdate) }}</div>
                <div>{{ users[index].FirstName }}</div>
            </div>
            <div class="yes-or-no-container">
                <span ng-click="refuse()" title="Refuse" class="yes-or-no no"><i class="custom-icon icon-cancel"></i></span>
                <span ng-click="accept()" title="Accept" class="yes-or-no yes"><i class="custom-icon icon-ok"></i></span>
            </div>
        </div>
    </div>
    <div class="small-12 columns" ng-if="users.length == 0">
        <h2>Brak wyników</h2>
    </div>
</div>
